<%- include('./components/header')%>
<div style="min-height: 90vh;" class="col-12 row m-0">
    <div class="col-2 h-auto p-0">
    <%- include('./components/sidebar')%>
    </div>
    <div class="col-10 p-0 d-flex flex-column justify-content-between"> 
        <ul class="messagesTemplate" id="channelMessages">
            <% if(typeof posts !== 'undefined') { %>
                <% posts.forEach(post => { %>
                    <li>
                        <h5><%= post.author.name %></h5>
                        <p id="<%= post._id %>"> <%= post.post %></p>
                        <%  const d = post.time_stamp;
                            const datum = d.getDate()
                            const month = d.getMonth()+1
                            const fullYear = d.getFullYear()
                            const hours = d.getHours()
                            let minutes = d.getMinutes()
                            minutes = minutes > 9 ? minutes : '0' + minutes;    
                            const currDate = `${fullYear}-${month}-${datum} ${hours}:${minutes}`
                        %>
                        <h6><%= currDate %></h6>
                        <% if (post.author._id.toString() == user._id.toString()) { %>
                            <button data-id="<%= post._id %>"  class="delete_icon">❌</button>
                            <button data-bs-toggle="modal" data-bs-target="#editPostModal<%= post._id %>" data-id="<%= post._id %>" class="edit_icon">🖋</button>
                            <div class="modal fade" id="editPostModal<%= post._id %>" tabindex="-1" aria-labelledby="editPostModal<%= post._id %>Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editPostModal<%= post._id %>Label">Edit your post</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <input value="<%= post.post %>" type="text">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button data-bs-dismiss="modal" data-id="<%= post._id %>" type="button" class="btn btn-primary updatePost">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </li>
                <% }) %>
            <% } %>
        </ul>
        <form class="formTemplate" id="channelForm" action="">
            <input class="inputTemplate" id="channelInput" autocomplete="off" />
            <button id="channelSubmitButton">Send</button>
        </form> 
        
    </div>
</div>
<input hidden value="<%= user.name %>" id="username_channel" type="text">
<input hidden value="<%= user._id %>" id="id_channel" type="text">
<input hidden value="<%= channel_id %>" id="channel_id_channel" type="text">
<script src="../public/scripts/channel.js"></script>
