<%- include('components/header') %>

<div class="d-flex  vh-100">

  <%- include('./components/sidebar') %>

  <div class="section">
  <p>Welcome <%= user.name %></p>

  <div class="container row">
    <% myChannels.forEach(channel => { %>
      <div class="card col-4">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><%=channel.channel_name%></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/channels/<%= channel._id %>" class="btn btn-primary">go to channel</a>
        </div>
      </div>
      <% }); %>
      <div class="card col-4">
        <% otherChannels.forEach(channel => { %>
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"><%=channel.channel_name%></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/channels/<%= channel._id %>" class="btn btn-primary">Join</a>
          </div>
          <% }); %>
      </div>
  </div>
  <a class="btn btn-primary" href='/channels'>New channel</a>
 
  <!-- make hidden -->
  <input value="<%= user.name %>" id="username" type="text">
  <input value="<%= user._id %>" id="id" type="text">
  </div>
</div>